In [ ]:
import pandas as pd
data=pd.DataFrame({'age':[30,40,50,60,70],'sex':[1,0,1,0,0],'bmi':[23,32,45,67,56],'smoker':[0,1,1,0,0],'charges':[20000,30000,40000,25000,27000]},index=['1','2','3','4','5'])
print(data)

   age  sex  bmi  smoker  charges
1   30    1   23       0    20000
2   40    0   32       1    30000
3   50    1   45       1    40000
4   60    0   67       0    25000
5   70    0   56       0    27000

In [ ]:
data.to_csv("My first ML File")

In [ ]:
pd.read_csv("/content/My first ML File")

   Unnamed: 0  age  sex  bmi  smoker  charges
0           1   30    1   23       0    20000
1           2   40    0   32       1    30000
2           3   50    1   45       1    40000
3           4   60    0   67       0    25000
4           5   70    0   56       0    27000

In [ ]:
x=data[['age','sex','bmi','smoker']]
y=data['charges']

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [ ]:
from sklearn.linear_model import LinearRegression
reg= LinearRegression()

In [ ]:
reg.fit(x_train,y_train)

LinearRegression()

In [ ]:
reg.predict(x_test)

array([73959.65315389])

In [ ]:
reg.score(x,y)

-9.836562554021024