In [1]:
import pandas as pd
data=pd.read_csv("/content/heart.csv")
print(data)

     age  sex  cp  trtbps  chol  fbs  restecg  thalachh  exng  oldpeak  slp  \
0     63    1   3     145   233    1        0       150     0      2.3    0
1     37    1   2     130   250    0        1       187     0      3.5    0
2     41    0   1     130   204    0        0       172     0      1.4    2
3     56    1   1     120   236    0        1       178     0      0.8    2
4     57    0   0     120   354    0        1       163     1      0.6    2
..   ...  ...  ..     ...   ...  ...      ...       ...   ...      ...  ...
298   57    0   0     140   241    0        1       123     1      0.2    1
299   45    1   3     110   264    0        1       132     0      1.2    1
300   68    1   0     144   193    1        1       141     0      3.4    1
301   57    1   0     130   131    0        1       115     1      1.2    1
302   57    0   1     130   236    0        0       174     0      0.0    1

     caa  thall  output
0      0      1       1
1      0      2       1
2      0      2       1
3      0      2       1
4      0      2       1
..   ...    ...     ...
298    0      3       0
299    0      3       0
300    2      3       0
301    1      3       0
302    1      2       0

[303 rows x 14 columns]

In [4]:
dummies=pd.get_dummies(data.age)
print(dummies)

     29  34  35  37  38  39  40  41  42  43  ...  65  66  67  68  69  70  71  \
0     0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0
1     0   0   0   1   0   0   0   0   0   0  ...   0   0   0   0   0   0   0
2     0   0   0   0   0   0   0   1   0   0  ...   0   0   0   0   0   0   0
3     0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0
4     0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0
..   ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ..  ..  ..  ..  ..  ..  ..
298   0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0
299   0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0
300   0   0   0   0   0   0   0   0   0   0  ...   0   0   0   1   0   0   0
301   0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0
302   0   0   0   0   0   0   0   0   0   0  ...   0   0   0   0   0   0   0

     74  76  77
0     0   0   0
1     0   0   0
2     0   0   0
3     0   0   0
4     0   0   0
..   ..  ..  ..
298   0   0   0
299   0   0   0
300   0   0   0
301   0   0   0
302   0   0   0

[303 rows x 41 columns]

In [9]:
merge=pd.concat([data,dummies],axis='columns')
print(merge)

     age  sex  cp  trtbps  chol  fbs  restecg  thalachh  exng  oldpeak  ...  \
0     63    1   3     145   233    1        0       150     0      2.3  ...
1     37    1   2     130   250    0        1       187     0      3.5  ...
2     41    0   1     130   204    0        0       172     0      1.4  ...
3     56    1   1     120   236    0        1       178     0      0.8  ...
4     57    0   0     120   354    0        1       163     1      0.6  ...
..   ...  ...  ..     ...   ...  ...      ...       ...   ...      ...  ...
298   57    0   0     140   241    0        1       123     1      0.2  ...
299   45    1   3     110   264    0        1       132     0      1.2  ...
300   68    1   0     144   193    1        1       141     0      3.4  ...
301   57    1   0     130   131    0        1       115     1      1.2  ...
302   57    0   1     130   236    0        0       174     0      0.0  ...

     65  66  67  68  69  70  71  74  76  77
0     0   0   0   0   0   0   0   0   0   0
1     0   0   0   0   0   0   0   0   0   0
2     0   0   0   0   0   0   0   0   0   0
3     0   0   0   0   0   0   0   0   0   0
4     0   0   0   0   0   0   0   0   0   0
..   ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
298   0   0   0   0   0   0   0   0   0   0
299   0   0   0   0   0   0   0   0   0   0
300   0   0   0   1   0   0   0   0   0   0
301   0   0   0   0   0   0   0   0   0   0
302   0   0   0   0   0   0   0   0   0   0

[303 rows x 55 columns]

In [10]:
final=merge.drop(['age'],axis='columns')
print(final)

     sex  cp  trtbps  chol  fbs  restecg  thalachh  exng  oldpeak  slp  ...  \
0      1   3     145   233    1        0       150     0      2.3    0  ...
1      1   2     130   250    0        1       187     0      3.5    0  ...
2      0   1     130   204    0        0       172     0      1.4    2  ...
3      1   1     120   236    0        1       178     0      0.8    2  ...
4      0   0     120   354    0        1       163     1      0.6    2  ...
..   ...  ..     ...   ...  ...      ...       ...   ...      ...  ...  ...
298    0   0     140   241    0        1       123     1      0.2    1  ...
299    1   3     110   264    0        1       132     0      1.2    1  ...
300    1   0     144   193    1        1       141     0      3.4    1  ...
301    1   0     130   131    0        1       115     1      1.2    1  ...
302    0   1     130   236    0        0       174     0      0.0    1  ...

     65  66  67  68  69  70  71  74  76  77
0     0   0   0   0   0   0   0   0   0   0
1     0   0   0   0   0   0   0   0   0   0
2     0   0   0   0   0   0   0   0   0   0
3     0   0   0   0   0   0   0   0   0   0
4     0   0   0   0   0   0   0   0   0   0
..   ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
298   0   0   0   0   0   0   0   0   0   0
299   0   0   0   0   0   0   0   0   0   0
300   0   0   0   1   0   0   0   0   0   0
301   0   0   0   0   0   0   0   0   0   0
302   0   0   0   0   0   0   0   0   0   0

[303 rows x 54 columns]

In [11]:
data.head()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [12]:
x=data.drop(['output'],axis='columns')
y=data['output']

In [13]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [15]:
from sklearn.linear_model import LinearRegression
ln=LinearRegression()
ln.fit(x_train,y_train)

LinearRegression()

In [17]:
prediction=ln.predict(x_test)
print(prediction)

[ 0.8688202   0.8554838   0.96217858  0.41527467  0.7580008   0.57634121
  1.12120642  0.11514587  0.35142183  0.61226656  0.17878017  0.48987817
  0.26105254  0.28018752 -0.13024817  0.59254256  0.52438759  0.74559438
 -0.35645502  0.78216379  0.54057121  0.56608892  0.6369692   0.65940716
 -0.04248222  0.76510551  0.61891631  0.59625862 -0.13970188  0.81222387
 -0.14263758  0.93939755  0.84837515  0.34146041  0.81592007  0.08495746
  0.73525442  0.10007366  0.85251143  0.69887192  0.52554738  0.72928546
  0.65793885 -0.0324342   1.06810074  0.34693707  0.4942666   0.3038292
  0.55698216  0.35109878  0.05094407  0.85489455  0.63549766  0.74009365
  0.06484748  0.72808188  0.52006631  0.19410074  0.76199926  0.10815708
  0.92514662]

In [18]:
ln.score(x,y)

0.5119924883851696

In [19]:
data.tail()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [27]:
new_data=pd.DataFrame({'age':1,'sex':2,'cp':3,'trtbps':4,'chol':5,'fbs':6,'restecg':7,'thalachh':8,'exng':9,'oldpeak':10,'slp':11,'caa':12,'thall':13},index=['1'])
print(new_data)

   age  sex  cp  trtbps  chol  fbs  restecg  thalachh  exng  oldpeak  slp  \
1    1    2   3       4     5    6        7         8     9       10   11

   caa  thall
1   12     13

In [28]:
predictions=ln.predict(new_data)
print(predictions)

[-2.80710116]